/* '*' is a universal selector. It selects everything on the page */
/* * {
  color: pink;
} */




h1 {
  color: red;
  /* background-color: black; */
  /* below is using rgb to pick background colour */
  background-color: rgb(149, 142, 142);
  text-align: center;
  font-weight: 700;
}

h2 {
  color: violet;
  /* background-color: grey; */
  /* below is using  hex colour code to pick background colour*/
  background-color: #953b28;
  text-decoration: underline;
}

/* you can also select multiple elements using a comma */
/* h1, h2 {
  background-color: rgb(149, 142, 142);
  text-align: center;
  font-weight: 700;
} */

P {
  line-height: 2;
}

/* below is using an id selector */
#basicinfo {
  background-color: lightgray;
  color: black;
}

/* below is using the class selector */
.text {
  background-color: red;
  color: white;
  font-size: 24px;
}

/* below is a descendant selector. it is different to using a comma. this is selecting an element that is nested inside of another element. Li wont be effected only the li's nested inside of it */
ul li {
  color: greenyellow;
}

/* this is an adjacent selector. It selects a button that is preceded by a h2 and on the same level*/
h2 + button {
  font-size: 25px;
  color: blueviolet;
}

/* this is a direct descentdant selector. It selects an element that is directly the child of another element */
footer > a {
  color: yellow;
}
